body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: white;
}
.container{
    border: 1px solid black;
    background-color: #f6f6f6;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    width: 25%;
    min-width: 240px;
    height:25vh;
    min-height: 240px;
    padding: 1em;
    margin:auto;
    color: black;
}

.subcontainer{
    border: 1px solid gray;
    border-radius: 10px;
    padding: 0.5em;
    width: 90%;
    margin: auto;
    display: flex;
    flex-direction: row;
}

#buttondiv{
    border-color: transparent;
}

.alertdiv{
    display: flex;
    margin: auto;
    margin-top: 2em;
    width: 25%;
    min-width: 240px;
}

#alertText{
    color: red;
    border: none;
    flex: 1;
    min-width: 150px;
    outline: none;
}

#tB1, #tB2, #tB3{
    height: 1.5em;
    width: 3em;
    margin-left: 1em;
    margin-right: 1em;
    border: 0.5px solid black;
    border-radius: 5px;
}

#tB4{
    flex: 1;
    min-width: 150px;
    border-color: 0.5px solid black;
    border-radius: 5px;
}

#button{
    color: white;
    background-color: rgb(90, 81, 4);
    border-radius: 5px;
    height: 2em;
    width: 8em;
    margin: auto;
}

#button:hover{
    cursor: pointer;
}

@media (max-width:400px){
   body, #alertText{
    background-color: #f6f6f6;
   } 

   .container{
       border: none;
   }
}
