body{
    display: flex;
    justify-content: left;
}
.container{
    border: 1px solid black;
    border-radius: 10px;
    display: flex;
    width: 25%;
    min-width: 240px;
    height:25vh;
    min-height: 240px;
    padding: 1em;
    margin:0;
    flex-direction: column;
}

.subcontainer{
    border: 1px solid rgba(124, 123, 123, 0.445);
    border-radius: 10px;
    padding: 0.5em;
    width: 90%;
    /*display: block;*/
    margin: auto;
    display: flex;
    flex-direction: row;
}

#tB1, #tB2, #tB3{
    height: 1.5em;
    width: 3em;
    margin-left: 1em;
    margin-right: 1em; 
}

#tB4, #tB5{
    flex: 1;
    min-width: 150px;
}

#button{
    height: 2em;
    width: 8em;
    margin: auto;
}

#buttondiv{
    border-color: transparent;
}

@media(max-width:800px){
    body{
        display: flex;
        justify-content: center;
    }
}